@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;600&display=swap");

$e-light: 200;
$light: 300;
$med: 400;
$bold: 600;

@mixin flex {
	display: flex;
	gap: var(--gap, 1rem);
}
